<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/navbar.ejs') %>
  <div class="container">    
    <div class="card" id="form-pergunta">
      <div class="card-header">
        <h3>Faça Sua Pergunta</h3>
      </div>
      <div class="card-body">
        <hr>
        <form method="POST" action="/salvarPerguntas">
          <label>Titulo</label>
          <input type="text" placeholder="Título" class="form-control" name="titulo">
          <br>
          <label>Descrição</label>
          <textarea placeholder="Descreva a Pergunta" class="form-control" name="descricao"></textarea>
          <br>
          <button class="btn btn-success">Perguntar</button>
        </form>    
      </div>
    </div>  
  </div>
</body>
<%- include ('./partials/footer.ejs') %>